.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.c
*.c
*.o
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.toc
pgm_TumorModel_R/ivsc_2cmtc_keq.d/*
data/~$*
pgm_TumorModel_R/ivsc_3cmtct_full.d/*
modelF/ivsc_4cmtct_shedct.d
modelF/ivsc_4cmtct_shedct.d/*
